<!DOCTYPE html>
<html>
    <head>
        <title>이태규의 익스프레스 체험기</title>
    </head>
    <body>
        <header>
            <img src="/img/memo.png" alt="memo image" />
        </header>
        {{{ body }}}
    </body>
</html>